* {
  margin: 0px;
  padding: 0px;
}

body {
  font-family: "Poppins", sans-serif;
  font-size: 1.5rem;
}

.navbar {
  background-color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 2rem;
  position: fixed;
  border: 1px solid rgba(73, 42, 27, 0.2);
  right: 0;
  left: 0;
  z-index: 99999;
}

.navbar .logo {
  display: flex;
}
.navbar img {
  width: 30px;
}

.navbar .logo-coffe img {
  margin-right: 5rem;
}

.navbar .navbar-logo {
  font-size: 1rem;
  font-weight: 700;
  padding-top: 5px;
  color: sienna;
}

.navbar .navbar-nav {
  margin-left: 15rem;
  margin-right: 2rem;
  display: flex;
  gap: 1rem;
}

.navbar .navbar-nav a {
  color: black;
  display: inline-block;
  font-size: 1rem;
}

.navbar .navbar-search {
  margin-left: 2.5rem;
  height: 40px;
  border-radius: 25%;
  background-color: whitesmoke; 
  width: 15rem;
}

.navbar .navbar-search img {
  width: 10px;
  margin-left: 1.5rem;
}

.navbar .navbar-search .search {
  border: none;
  margin-left: 0.5rem;
}

/*Section Product Details*/
.productDetails {
  padding-left: 4rem;
  padding-right: 4rem;
  padding-top: 9rem;
}

.productDetails p {
  color: black;
}

.productDetails p span {
  color: sienna;
  font-weight: 700;
}

.productDetails .sectionproductDetails {
  margin-top: 2rem;
  display: flex;
  gap: 3rem;
}

.productDetails .sectionproductDetails .section-left {
  text-align: center;
  width: 50%;
}

.productDetails .sectionproductDetails .section-left img {
  border-radius: 50%;
}

.productDetails .sectionproductDetails .section-left .title-product {
  font-size: 3rem;
  font-weight: 900;
}

.productDetails .sectionproductDetails .section-left .price-product {
  font-size: 2rem;
  font-weight: 300;
}

.button1 {
  padding: 2rem;
  background-color: #6A4029;
  font-weight: 600;
  margin-top: 2rem;
  border-radius: 18px;
}

.button2 {
  padding: 2rem;
  background-color: goldenrod;
  font-weight: 600;
  margin-top: 2rem;
  border-radius: 18px;
}

.productDetails .sectionproductDetails .section-right {
  width: 50%;
  border: 1px solid rgba(73, 42, 27, 0.2);
}

.productDetails .sectionproductDetails .section-right .description-product {
  padding: 2rem;
}

.productDetails .sectionproductDetails .section-right .description-product p {
  margin-bottom: 3rem;
}

.choose-size {
  padding: 2rem;
  font-weight: 700;
  margin-bottom: none;
}

.choose-size p {
  text-align: center;
  margin-bottom: 1rem;
}

.choose-size .type-size {
  display: flex;
  justify-content: center;
  gap: 5rem;
}

.choose-size .type-size .R,
.L,
.XL {
  width: 2rem;
  padding: 2rem;
  background-color: white;
  border: 0.5px solid goldenrod;
  border-radius: 50%;
  text-align: center;
}

.choose-size .type-size :hover {
  background-color: goldenrod;
}

.delivery-method {
  padding: 2rem;
  font-weight: 700;
  margin-bottom: none;
}

.delivery-method p {
  text-align: center;
  margin-bottom: 1rem;
}

.delivery-method .type-methods {
  display: flex;
  justify-content: center;
  font-size: 1rem;
  gap: 0.3rem;
}

.delivery-method .type-methods p {
  width: 8rem;
  background-color: white;
  border: 0.5px solid goldenrod;
  border-radius: 5%;
}

.delivery-method .type-methods p:hover {
  background-color: goldenrod;
}

.footer-container {
  display: flex;
  padding-top: 4.5rem;
  padding-left: 120px;
  padding-right: 70px;
  margin-bottom: auto;
  position: auto;
  background-color: #f8f8f8;
}

.logo-title {
  display: flex;
}

.image-cofee {
  width: 30px;
  height: 33px;
}

.title-coffe {
  margin-left: 20px;
  margin-top: 10px;
  font-weight: 700;
  font-size: 20px;
}

.about {
  width: 50%;
  margin-top: 18px;
  color: #4f5665;
  font-size: 15px;
  margin-bottom: 1.3rem;
}

.facebook-button {
  display: flex;
  flex-direction: column;
  background-color: #ffba33;
  width: 23px;
  height: 25px;
  border-radius: 50%;
  color: #6a4029;
  border: 0.5px solid goldenrod;
}

.twitter-button {
  display: flex;
  flex-direction: column;
  background-color: #ffba33;
  width: 23px;
  height: 25px;
  border-radius: 50%;
  margin-top: -23px;
  margin-left: 40px;
  color: #6a4029;
  border: 0.5px solid goldenrod;
}

.twitter-image {
  margin-top: 1px;
}

.instagram-button {
  display: flex;
  flex-direction: column;
  background-color: #ffba33;
  width: 23px;
  height: 25px;
  border-radius: 50%;
  margin-top: -25px;
  margin-left: 80px;
  color: #6a4029;
  border: 0.5px solid goldenrod;
}

.instagram-image {
  margin-top: 5px;
}

.name-coffe {
  color: #afb5c0;
  margin-top: 21px;
  margin-bottom: 4rem;
}

.product-container {
  margin-left: -2rem;
}

.title-product {
  margin-top: 15px;
  font-weight: 550;
  font-size: 17px;
}

.product1 {
  margin-top: 15px;
  list-style-type: none;
  color: #4f5665;
}
.product2 {
  margin-top: 15px;
  list-style-type: none;
  color: #4f5665;
}

.product3 {
  margin-top: 15px;
  list-style-type: none;
  color: #4f5665;
}

.product4 {
  margin-top: 15px;
  list-style-type: none;
  color: #4f5665;
}

.product5 {
  margin-top: 15px;
  list-style-type: none;
  color: #4f5665;
}

.product6 {
  margin-top: 15px;
  list-style-type: none;
  color: #4f5665;
}

.product7 {
  margin-top: 15px;
  list-style-type: none;
  color: #4f5665;
}

.product8 {
  margin-top: 15px;
  list-style-type: none;
  color: #4f5665;
}

.product9 {
  margin-top: 15px;
  list-style-type: none;
  color: #4f5665;
}

.product10 {
  margin-top: 15px;
  list-style-type: none;
  color: #4f5665;
}

.engage-container {
  margin-left: 120px;
}

.title-engage {
  margin-top: 15px;
  font-weight: 550;
  font-size: 17px;
}

.list-engage {
  margin-top: 20px;
  color: #4f5665;
}
